version: '3'
services:
  frontend:
    build: .
    ports:
      - "8888:80"
    environment:
      - PLACES_API_URL=http://host.docker.internal:8080/ # Use host.docker.internal to reach localhost from container
      - TILES_API_URL=http://host.docker.internal:4000/
      - KEYCLOAK_URL=http://localhost:8081
    restart: always
